@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1dfe4;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d1dfe4;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navColor {
  background-color: #9bb6bfee;
}

.smooth-entry {
  animation-name: entry;
  animation-duration: 0.5s;
}

@keyframes entry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


